html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root{
  --color-primary: #603809;
  --color-black: #000;
  --color-secundary: #F9C06A;
  --color-white: #fff;
}


/* Utiliza la fuente 'Clicker Script' y 'Playfair Display' en diferentes elementos o reglas CSS */
/* Para el texto en el párrafo */
p{
  font-family: 'Clicker Script', cursive;
}
a{
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}

/* Para los encabezados */
h1, h2, h3, h4, h5{
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  color: var(--color-primary);
  font-weight: bold;
  -webkit-text-stroke: 1px var(--color-black);
}


.button{
  background-color: var(--color-secundary);
  padding: 0.7rem 1.5rem;
  border-radius: 15px 15px 15px 15px;
  font-weight: bold;

}